extends ./../components/layout/_layout

block content
	include ../components/Header/Header
	include ../components/BreadCrumbs/BreadCrumbs
	include ../components/Section/Section
	include ../components/Footer/Footer
	

