.header 
  img.header__img(src="./assets/images/Header/rebel.png")
  ul.header__menu.menu.align-center
    li.header__listElement 
      a.header__link(href="#") Element
    li.header__listElement 
      a.header__link(href="#") Element
    li.header__listElement 
      a.header__link(href="#") Element
    li.header__listElement 
      a.header__link(href="#") Element
    li.header__listElement.-search
      input.header__input(type="search" placeholder="Szukaj")
      button.header__button.button(type="button") Szukaj