.footer
  ul.footer__menu.menu.align-right
    li.footer__listElement 
      a.footer__link.secondary.button(href="#") Element
    li.footer__listElement 
      a.footer__link.secondary.button(href="#") Element
    li.footer__listElement 
      a.footer__link.secondary.button(href="#") Element
    li.footer__listElement 
      a.footer__link.secondary.button(href="#") Element
    li.footer__listElement.-search
      input.footer__input(type="search" placeholder="Szukaj")
      button.footer__button.button.success(type="button") Szukaj